tema10/pokedaw.dtd

<!ELEMENT pokedex (pokemon+)>
<!ELEMENT pokemon (nombre, foto, descripcion, tipo, genero, estado)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT foto (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT tipo (#PCDATA)>
<!ELEMENT genero (#PCDATA)>
<!ELEMENT estado (#PCDATA)>
<!ATTLIST foto imagen CDATA #REQUIRED>